# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_prl
*-backups
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Rust
# Siltti compiled code
/application/rust/target/
# firmware build
/firmware/development/kampela_experiments_efm32pg23/app/target/
/firmware/development/kampela_experiments_efm32pg23/app3/target/
/firmware/development/kampela_experiments_efm32pg23/efm32pg23_fix/target/
/firmware/development/kampela_experiments_efm32pg23/patches/target/
/firmware/development/kampela-ui/target/
# rustfmt
**/*.rs.bk
